name: Check DSM

on:
  workflow_dispatch:
    inputs:
      period:
        description: Period for DSM's task fetch
        required: true
        default: '14'
        type: string

jobs:
  check:
    uses: atls/shared/.github/workflows/check-dsm.yaml@master
    permissions: read-all
    with:
      app-id: ${{ vars.DSM_APP_ID }}
      period: ${{ inputs.period }}
    secrets:
      app-private-key: ${{ secrets.DSM_APP_SECRET }}